<div class="row page-titles">
    <div class="col-md-3">
        <h2>Purchase List</h2>
    </div>

    <div class="col-md-9 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink='/dashboard'>Dashboard</a></li>
                <li class="breadcrumb-item active">Purchase</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"
                routerLink='/dashboard/purchase-create'><i class="fa fa-plus-circle"></i> Create
                New</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <!-- <div class="card border-success bg-secondary filter-card">
            <div class="card-header bg-success">
                <h4 class="m-b-0 text-white">Filters</h4>
            </div>
            <div class="card-body">
                <div class='row'>
                    <div class='col-md-3'>
                        <div class="m-container">
                            <mat-form-field>
                                <mat-label>Purchase Status</mat-label>
                                <mat-select>
                                    <mat-option value="Ordered">Ordered</mat-option>
                                    <mat-option value="Pending">Pending</mat-option>
                                    <mat-option value="Received">Received</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='m-container'>
                            <mat-form-field>
                                <mat-label>Payment Status</mat-label>
                                <mat-select>
                                    <mat-option value="Paid">Paid</mat-option>
                                    <mat-option value="Due">Due</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='m-container'>
                            <mat-form-field>
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="startDate">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='m-container'>
                            <mat-form-field>
                                <mat-label> End Date</mat-label>
                                <input matInput [matDatepicker]="endDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="table-responsive m-t-15 bg-secondary">
            <div id="myTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="myTable_length"><label>Show <select name="myTable_length"
                                    [(ngModel)]="row" aria-controls="myTable" class="form-control form-control-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="myTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                                    [(ngModel)]="search" class="form-control form-control-sm" placeholder=""
                                    aria-controls="myTable"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid"
                            aria-describedby="myTable_info">
                            <thead class='text-center'>
                                <tr role="row">
                                    <th class="sorting" (click)="sort('date')" tabindex="0">
                                        Date</th>
                                    <th class="sorting" (click)="sort('referenceNo')" tabindex="0">
                                        Reference No</th>
                                    <th tabindex="0">
                                        Publisher Name</th>
                                    <th class="sorting" (click)="sort('purchaseStatus')" tabindex="0">
                                        Purchase Status</th>
                                    <th tabindex="0">
                                        Payment Method</th>
                                    <th class="sorting" (click)="sort('netAmount')" tabindex="0">
                                        Total Amount</th>
                                    <!-- <th tabindex="0" aria-controls="myTable">
                                        Action</th> -->
                                </tr>
                            </thead>
                            <tbody
                                *ngFor="let item of purchaseList | async | orderBy: key : reverse | filter: search | paginate: { itemsPerPage: row, currentPage: p };let i=index;  ">
                                <tr role="row">
                                    <td>{{item.purchaseDate | date: 'shortDate'}}</td>
                                    <td>{{item.referenceNo}}</td>
                                    <td>{{item.publisher.publisherName}}</td>
                                    <td>{{item.purchaseStatus}}</td>
                                    <td>{{item.payment.paymentMethod}}</td>
                                    <td class='text-right'>{{item.netAmount}}</td>
                                    <!-- <td style=" padding: 5px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute;  top: 0px; left: 0px;">
                                                <a class="dropdown-item">View</a>
                                                <a class="dropdown-item">Edit</a>
                                                <a class="dropdown-item">Delete </a>
                                                <a class="dropdown-item">Print</a>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                            <div class="dataTables_length" id="myTable_length"><label>Show <select name="myTable_length"
                                [(ngModel)]="row" aria-controls="myTable" class="form-control form-control-sm">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <pagination-controls (pageChange)="p = $event" maxSize="4"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="modal fade" id="testModal" tabindex="-1" role="dialog" tabindex="-1" role="dialog" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Purchase Details (<b>Reference No:</b> #PO2019)</h5>
                <button type="button" class="close" (click)='closeModal()' aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pull-right"><b>Date:</b> 17-08-2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style='margin-left: 35px'>
                        <b>Publisher:</b>
                        <address>
                            <strong>Alpha Clothings</strong> Michael
                            <br>Linking Street,Phoenix,Arizona,USA
                            <br>Email: hello@gmail.com
                            <br>Phone: 0987654235
                        </address>
                    </div>

                    <div class="col-md-4 ">
                        <b>Reference No:</b> #PO2019<br>
                        <b>Date:</b> 17-08-2019<br>
                        <b>Purchase Status:</b> Received<br>
                        <b>Payment Status:</b> Paid<br>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table bg-gray">
                                <thead>
                                    <tr class="bg-secondary">
                                        <th>#</th>
                                        <th>Book Name</th>
                                        <th>Purchase Quantity</th>
                                        <th>Rate </th>
                                        <th>Unit Selling Price</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Hello World</td>
                                        <td>10 Pcs</td>
                                        <td>100.00</td>
                                        <td>110.00</td>
                                        <td>1000.00</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12" style='padding-left: 80px'>
                        <b>Payment Info:</b>
                        <hr>
                        <address><br>
                            <span><b> Payment Method</b>: Cheque</span><br>
                            <span><b> Bank Name</b>: HSBC</span> <br>
                            <span> <b>Cheque No.</b> : 345765456</span> <br>
                            <span><b> Payment Amount</b> : 10000.00</span>
                        </address>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Net Total Amount: </th>
                                        <td></td>
                                        <td class='text-right'>1000.00</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td> <b>(-)</b> </td>
                                        <td class="text-right"> 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Vat:</th>
                                        <td><b>(+)</b></td>
                                        <td class="text-right">
                                            0.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Purchase Total:</th>
                                        <td></td>
                                        <td class="text-right">1000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary no-print" aria-label="Print"
                    onclick="$(this).closest('div.modal-content').printThis();"><i class="fa fa-print"></i> Print
                </button>
                <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->