.author-container {
  display: flex;
  flex-direction: column;
}

.author-container > * {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index: 2000;
}
.center * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}