<div class='bg-root'>

</div>
<div class="center-div">
  <div class="inner-div">
    <form action="" #rootModel="ngForm" (ngSubmit)='go()'>
      <div>
        <h3 for="">SELECT YOUR API</h3>
        <div class="btn-group m-l-30">
          <div class="btn-group">
            <label class="btn btn-lg btn-outline btn-info" [ngClass]="{'btn-danger': api=='mvc'}">
              <input type="radio" name="api" id="mvc" [(ngModel)]="api" value='mvc'> MVC API
            </label>
            <label class="btn btn-lg btn-outline btn-info" [ngClass]="{'btn-danger': api=='core'}">
              <input type="radio" name="api" id="core" [(ngModel)]="api" value='core'> CORE API
            </label>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h3 for="">SELECT YOUR APP</h3>
          <div class="btn-group m-l-30">
            <label class="btn btn-lg btn-outline btn-info " [ngClass]="{'btn-danger': app=='dashboard'}">
              <input type="radio" name="app" id="dashboard" [(ngModel)]="app" value='dashboard'>DASHBOARD
            </label>
            <label class="btn btn-lg btn-outline btn-info active" [ngClass]="{'btn-danger': app=='store'}">
              <input type="radio" name="app" id="store" [(ngModel)]="app" value='store'>STORE
            </label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" style='width:130px'
            class="btn waves-effect waves-light btn-lg btn-rounded  btn-block btn-outline-success">GO</button>
        </div>
      </div>
    </form>
  </div>
</div>