<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img height="300px" class="d-block img-fluid" src="../../../../assets/images/slider/slider1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img height="300px" class="d-block img-fluid" src="../../../../assets/images/slider/slider2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img height="300px" class="d-block img-fluid" src="../../../../assets/images/slider/slider3.png" alt="Third slide">
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">About Us</h2>
 
    <p class="card-text">Now a day’s people are too much busy, they just want everything by one click sitting in the room. 
      Through this perspective we just prepare this system so that user can purchase a book through online instead of going out to a bookstore. 
      The system aims to reduce time associated with conducting purchase any book with anyone requirements.We strive each day to meet the needs of our customers to the best of our abilities.
      If you have any suggestions or questions, we'd love to hear from you. Please send an e-mail to the address below and we'll get back to you as soon as possible.
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="container m-t-10">
  
  <div class="row">
    <div class="col-lg-3">
      <div class="card" style="width: 16rem;">
        <img width="150px" height="265px" class="card-img-top" src="../../../../assets/team/mamun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mamun Bhuiyan</h5>
          <p class="card-text">Team Leader</p>
          <!-- <a href="#" class="btn btn-primary">Go Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 16rem;">
        <img width="150px" height="265px" class="card-img-top" src="../../../../assets/team/nasir.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nasir Ahmed</h5>
          <p class="card-text">Team Member</p>
          <!-- <a href="#" class="btn btn-primary">Go Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 16rem;">
        <img width="150px" height="265px" class="card-img-top" src="../../../../assets/team/abkaium.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Abdul Kaium</h5>
          <p class="card-text">Team Member</p>
          <!-- <a href="#" class="btn btn-primary">Go Details</a> -->
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card" style="width: 16rem;">
        <img width="150px" height="265px" class="card-img-top" src="../../../../assets/team/naznin.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Naznin Akter</h5>
          <p class="card-text">Team Member</p>
          <!-- <a href="#" class="btn btn-primary">Go Details</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Our Philosophy</h5>
        <p class="card-text">Some people like to read on a screen. Other people need the variety and artistry, 
          the sight, smell, and feel of actual books.They love seeing them on their shelves; they love having shelves for them.
          This system gives the opportunity to a customer to read the book through online, Download the PDF format and also buy the book through online.</p>
      
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Our Other Services</h5>
        <p class="card-text">Through this system anyone buy their book shopping cart system. 
          Through Cart system anyone can add the book, Number of Quantity can be increased or decreased by the Cart. 
          If customer don’t want to buy this book after adding the Cart, he or she can remove the book from the Cart.</p>
     
      </div>
    </div>
  </div>
</div>